
*{
   
    font-family: Lexend, "Segoe UI", Arial, Helvetica, sans-serif;
}

nav{
    
    background-color:#0D0E19; /*#1A1B21;*/
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    


}

a:link{
    text-decoration: none;
}

header{
    padding-bottom: 4vh;
}

body
{
    padding-top: 64px;
    background-color: #171F30;
    color: #ffffff;
   
}

main{
    background-color: #171F30;
    margin-left: 5vw;
    margin-right:5vw;
    display: flex;
}



p{
    margin-top: 1rem;
}

ul{
    margin-top: 1rem;
}

button{
    border-radius: 5em;
}

#nav-title{
    font-size:1.5em;
    padding-left: 0.5em;
    
    
}
.nav-buttons{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    margin-left: auto;
    font-weight: lighter;
    
    
}

.nav-buttons li{
    margin:12px;
    padding:16px;
    
}   

.nav-buttons a{
    color: #fff;
    

}

.btn-primary,.btn-secondary{
    border: none;
    outline:none;
}

.btn-primary{
    background-color:#6762f4;
    color:#ffffff;
}

.btn-primary:hover{
    background-color:#4541A4;
    color:#ffffff;
}

.normal-buttons-white-bg{
    background-color: #0D0E19;
    color: #ffffff;
}
.normal-buttons-white-bg:hover{
    background-color: #3D3F53;
    color: #ffffff;
}

.normal-buttons-dark-bg{
    background-color: #d3d2f7;
    color:#0d0e19;
}

.normal-buttons-dark-bg:hover,  
.btn-secondary.active{
    background-color: #ADABF0;
    color:#0d0e19;
}
  
#welcome{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 1.25em;
}
.card-white-text-colour{
    background-color: #fff;
   color:#0d0e19;
}   

#hello
{
    text-align: center;
    margin-top:0.25em;
    margin-bottom:0.5em;
    font-family: Lexend;
    font-size: 8em;
    background: linear-gradient(to right #F2D2F7,#DEDCF6#CBE6F5);
    background-size: 50% auto;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient-move 5s ease infinite;
    font-weight:800;


}
/*
0% {color: #F2D2F7;}
    25% {color: #DEDCF6;}
    50%{color: #CBE6F5;}
    75%{color: #DEDCF6;}
    100% {color: #F2D2F7;}*/

@keyframes gradient-move{
    0% {color: #F2D2F7;}
    25% {color: #DEDCF6;}
    50%{color: #CBE6F5;}
    75%{color: #DEDCF6;}
    100% {color: #F2D2F7;}

}



section{
    
    display: flex;
    flex-direction:column ;
    justify-content: center;
}

.btn-group-no-gap{
    display: flex;
    flex-direction: row;
} 

.button-start{
    border-top-right-radius:0;
    border-bottom-right-radius: 0;
}

.button-middle{
    border-radius: 0;
}

.button-end{
    border-top-left-radius: 0;
    border-bottom-left-radius:0;
}

#custom-brush-container{
    justify-content: center;
    
}

.nav-buttons a:hover{
    color: #d3d2f7;
    text-decoration: underline;
    text-decoration-thickness: from-font;
    transition: 0.3s;
}

canvas{
    
    
    justify-self: center;
    align-self:baseline;
    background-color: #ffffff;
}