
*{
    font-family: Lexend;
}

nav{
    background-color: #1A1B21;
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 64px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    


}

a:link{
    text-decoration: none;
}

body
{
    background-color: #1D1E25;
    color: #ffffff;
}

#nav-title{
    
}
.nav-buttons{
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    
}

.nav-buttons li{
    margin:12px;
    padding:16px;
}

.nav-buttons a{
    color: #fff;

}


        
    

#hello
{
    text-align: center;
    margin-top:0.25em;
    margin-bottom:0.5em;
    font-family: Lexend;
    font-size: 8em;


}