#first-time-user {
   align-items: center;
    flex-direction: column;
    
}

#welcome-back-user{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#get-started-button{
    display: flex;
    justify-content: center; 
    align-items: center;
    width:20vw;
    height:8vh;
    font-weight: 600;
    font-size:1.5em;
}

#name-input-container{
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
    gap: 1vw;
    margin-top: 2vh;
}
    

#name-input{
    width:25vw;
    
    padding: 8px;
    
}
#submit-name-button{
    width: 8vw;
    height: 3.33333333333%;
     padding: 8px;
    font-size: 1.125em;
    background-color: #d3d2f7;
    border-radius: 0.25em;
    border-color: #fff;
}

.gradient-outer-container{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    inset:0;
    margin: auto;
    filter: blur(80px);
}

.gradient-inner-container{
    border-radius: 99999px;
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset:0;
    margin: auto;
    overflow:hidden;
    background-color: transparent;
    transform:scale(0.8)
}

.gradient-bg{
    position: relative;
    width: 100vw;
    height: 100vh;
    inset:0;
    margin: auto;
    background: conic-gradient(from 0deg at 50% 50%,#c11fb3, #682772, #5945b6, #3a85ad, #5945b6, #682772);
    animation: gradient-rotate 8s linear infinite;
}

main{
    background-color: transparent;
}

@keyframes gradient-rotate {
    /*from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }*/
    0% {
        transform: rotate(0deg) scale(2);
    }
    100% {
        transform: rotate(1turn) scale(2);
    }
}