#first-time-user {
   align-items: center;
    flex-direction: column;
    
}

#welcome-back-user{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#get-started-button{
    display: flex;
    justify-content: center; 
    align-items: center;
    width:20vw;
    height:8vh;
    font-weight: 600;
    font-size:1.5em;
}

#name-input-container{
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
    gap: 1vw;
    margin-top: 2vh;
}
    

#name-input{
    width:25vw;
    
    padding: 8px;
    
}
#submit-name-button{
    width: 8vw;
    height: 3.33333333333%;
     padding: 8px;
    font-size: 1.125em;
    background-color: #d3d2f7;
    border-radius: 0.25em;
    border-color: #fff;
}