.play-btn-card{
    width:29.1666666667vw;
    height:60vh;
    align-items: flex-start;
    padding:1em
   

}



.play-btn-card:hover{
    background-color: #D3D2F7;
}

.play-btn-card-title{
    font-size: 2em;
    align-self: flex-start;
    text-align: left;
}