.play-btn-card{
    
    align-items: flex-start;
    padding:1em;
    border-radius: 1em;
   

}

.fieldset-card{
    /*display: flex;*/
    font-weight: 300;
    margin:1em;
    border-radius: 1em;
}

.btn-canvas{
   margin:0.5rem;
}



.play-btn-card:hover{
    background-color: #D3D2F7;
}

.play-btn-card-title{
    font-size: 2em;
    align-self: flex-start;
    text-align: left;
}

#marble-canvas-heading{
    margin-bottom:2rem;
}



#new-canvas-button{
    
    margin-right:1em ;
}

#save-canvas-button{
    margin-left:1em;
    justify-self: flex-end;
}

#canvas-button-container{
    display: flex;
    justify-content: center;
}




