:root{
    --circle-blend-mode: normal;
    --circle-colour:#95327f;
    --bg-colour: #171F30;
}

#blend-canvas{
    background-color: #fff;
}

#custom-brush-container{
   padding:0%;
    margin:1rem;
}
#custom-brush-fields{
    display: flex;
    padding-left: 5em;
    padding-right: 2em;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;

}

.blend-canvas-buttons{
    margin: 0.5em;
}

.blend-field{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
#colour-picker-container{
    flex-wrap: nowrap;
}
#blend-colour-hex-input{
    width:8em;
}

#brush-colour{
    initial-value: var(--circle-colour);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#blend-instructions{
    flex-direction: column;
    width: 60vw;
    text-align: center;
}
#blend-mode-container{
    margin:1em;
    
}

.colour-swatch{
    border-style: solid;
    border-color: var(--bg-colour);
    margin:0.25em;
    width:5vh;
    height:5vh;
    border-radius:2em;
}

.colour-swatch.active{
    border-style: solid;
    border: 0.25em solid  #c4c4c4;
}

#swatch-red{
    background-color: #ff0000;
}

#swatch-green{
    background-color: rgb(0, 255, 0);
}

#swatch-blue{
    background-color: rgb(0, 0, 255);
}

#swatch-magenta{
    background-color: rgb(255, 0, 255);
}

#swatch-yellow{
    background-color: rgb(255, 255, 0);
}

#swatch-cyan{
    background-color: rgb(0, 255, 255);
}

#download-blend-canvas{
    padding-right: 2em;
}


